{{ define "main" -}}
{{ .Content }}

<h1> About me </h1>


<div class="row">
  <div class="columnright">
    <img src="headshot.jpg" alt="Todd Lensman" style="width: 200px; height: 300px;" class="center">
  </div>
  <div class="columnleft">
    <p>Hi! I'm a second-year PhD student at MIT Economics.</p>

    <p>I'm primarily interested in the economics of public policies, with an emphasis on the tax system and transfer programs. I apply mathematical tools from optimization and control theory to characterize optimal policies in economic models, with the hope of improving our understanding of how to efficiently implement social insurance and redistribution. I also have interests in decision theory, mechanism design, and stochastic analysis. </p>

    <p> You can reach me by email at
    <a href="mailto:{{.Site.Params.Email }}" target="_blank">
    {{ .Site.Params.Email }}.
    </a></p>

    <footer>This website was adapted from <a href="https://www.stefanie-stantcheva.com" target="_blank">Stefanie Stantcheva's</a> using her code on <a href="https://github.com/cschesch/stefanie-stantcheva" target="_blank">GitHub</a>. My (worse!) version is available <a href= "https://github.com/talensman/Website" target="_blank">here</a>.</footer>

  </div>
</div>












{{- end }}
